.search-box input {
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
}

.search-box input::placeholder {
  color: white;
  opacity: 1;
}


.search-box input::-webkit-input-placeholder {
  color: white;
}
.search-box input:-moz-placeholder {
  color: white;
}
.search-box input::-moz-placeholder {
  color: white;
}
.search-box input:-ms-input-placeholder {
  color: white;
}
.why-choose-us-section {
    background-color: #fff;
  }
  
  .section-title {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
  }
  
  .btn-more-info {
    background-color: #E58411;
    color: #fff;
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .btn-more-info:hover {
    background-color: #cf7410;
  }
  

.icon-link {
    color: #E58411;
    text-decoration: underline;
    text-decoration-color: #E58411;
  }

.icon-link:hover {
    color: #cf7410; 
    text-decoration-color: #cf7410;
  }

.centerH {
    color: #cf7410;
    text-align: center;
}

.colorOrange {
    color: #cf7410;

}

.center {
    
    text-align: center;
}
.copyright {
    color: rgb(177, 174, 174);
}
.privacy {
    text-align: right;
}

.rounded-4 {
  border-radius: 1rem;
}

.shadow {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.colorBlue {
  color: rgba(13, 27, 57, 1);
}

.colorStar {
  color: rgba(246, 183, 111, 1);
} 
.lightStar {
  color: rgba(255, 201, 140, 0.586); 
}

.custom-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(13, 27, 57, 1);
  border: none;
}
.custom-plus {
  display: inline-block;
  width: 24.37px;
  height: 24.37px;
  font-size: 24.37px;
  line-height: 24.37px;
  color: white;
}

.experience-images {
  position: relative;
  width: 100%;
  height: auto;
}

.img-bg {
  position: relative;
  width: 70%;
  z-index: 1;
}

.img-front {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease;
}

.img-front:hover {
  transform: scale(1.02);
}



.materials-images {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.materials-images img {
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.featurette {
  margin-bottom: 5rem;
}




.navbar {
  background-color: transparent !important;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navbar .nav-link {
  color: white !important;
  font-weight: 5;
}

.bold-brand {
  color: white !important;
  font-weight: 700; 
}




